*{margin:0;padding:0;}
a{text-decoration:none;color:#000;}
ul,ol,li{list-style:none;}
img{font-size:0;}
input,button{border:none;}

body{font-family:"arial","Microsoft YaHei";width:100%;min-width:1200px;overflow-x:hidden;margin:0 auto;position:relative;}

/*@font-face {*/
    /*font-family:"汉仪力量黑简";*/
    /*src:url("../font/汉仪力量黑简.ttf");*/
/*}*/

@font-face {font-family: '汉仪力量黑简';
    src: url('../font/汉仪力量黑简.ttf');
    src: local('../font/汉仪力量黑简.ttf'),local('汉仪力量黑简'),
    url('../font/汉仪力量黑简.ttf') format('woff'),
    url('../font/汉仪力量黑简.ttf') format('truetype'),
    url('../font/汉仪力量黑简.ttf') format('svg');
}

/*clearfix*/
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{*zoom:1;}

.inner{width:1200px;margin:0 auto;}
.wraper{width:1055px;margin:0 auto;}

/*header*/
.header{width:100%;margin:0 auto;position:fixed;top:0;left:0;background:#fff;z-index:30;}
/*top*/
.header .top{width:100%;margin:0 auto;height:70px;border-bottom:1px solid #ededed;}
.header .top .inner .logo{width:235px;height:35px;display:block;float:left;padding:16px 0 0 59px;}
.header .top .message{height:70px;line-height:70px;float:right;}
.header .top .message li{float:left;height:70px;line-height:70px;padding-right:30px;color:#f4c422;position:relative;}
.header .top .message li:nth-child(1){cursor:pointer;}
.header .top .message li img{padding:23px 5px 0 0;float:left;}
.header .top .message li .city{font-weight:bold;font-size:16px;}
.header .top .message li .selec{color:#3a3a38;cursor:pointer;}
.header .top .message li .phone{font-weight:bold;font-size:18px;}
.header .top .message li .has-area{background:#fff;position:absolute;left:0;top:70px;width:325px;padding:27px 20px 17px 0px;border:1px solid #f0f0f0;transition:all 0.3s linear;z-index:30;display:none;}
.header .top .message li .has-area ul{margin-left:17px;}
.header .top .message li .has-area ul li{height:30px;line-height:30px;padding:0 15px;margin:0 0 9px 0;font-size:14px;color:#434343;}
.header .top .message li .has-area ul li:hover{background:#f4c422;color:#fff;}
.header .top .message li:hover .has-area{display:block;}

/*nav*/
.header #nav{width:100%;min-width:1024px;height:45px;margin-left:60px;font-size:16px;}
.header #nav li{float:left;height:45px;width:70px;margin-right:64px;text-align:center;position:relative;}
.header #nav li a{display:block;width:70px;height:42px;line-height:42px;margin-right:64px;color:#050505;}
/*.header #nav li:hover,*/.header #nav .active{border-bottom:3px solid #645f63;}
.header #nav li span{display:block;position:absolute; width:0px; height:0px;background:#645f63;top:45px; left:50%;}

@keyframes lineRun {
    0%{width:0px}
    25%{width:18px}
    50%{width:36px}
    75%{width:54px}
    100%{width:70px}
}




