/*流程导航*/
.lc-tu{width:100%;height:132px;margin-top:118px;text-align:center; background-color: #f4c61b;}
.lc-dh{width: 1200px;height: 100px;/*margin-left:310px;*/text-align: center;/*margin-top: 118px;*/padding-top:32px;margin:118px auto 0}
.lc-tu ul li{float: left;margin-left:6px;width: 188px;}
.lc-tp img{ width: 70px;height: 71px;    float: left;}
.lc-wz{float:left;margin-top: 12px;margin-left:25px;}
.lc-yuyue{ width:170px;height:54px;border-radius:15px;text-align:center;background-color: white;line-height:55px}
.triangle{width: 0;height: 0;border-left: 20px solid transparent;border-right: 20px solid transparent;border-top: 25px solid #f4c61b ;margin-left:50%;}
/* 文章标题*/
.article{margin-top:50px; }
.article-zw{width: 1000px; margin: 0 auto;}
.article-title{margin-bottom: 52px;}
.article-title h1{width:570px;border-left:7px solid #000000;border-right:7px solid#000000;margin-left:210px;}
.article-title h1{text-align: center;}
/*文章主体*/
.text{width: 1000px; height: 3130px; box-shadow: 1px 1px 5px 5px #e5e5e5;text-align:center}
.text h4{padding-top:30px; }
.text hr{width:92%; text-align:center;color:#d9d9d9;font-size:20px; margin-top:15px;margin-bottom:15px;  }
.text p{line-height: 40px;}
/* 尾部*/
.text-gengduo{width: 173px;height: 38px;background-color:#f4c61b;border-radius:8px 8px 8px 8px;text-align:center; margin:50px auto;position:relative; text-align: center;display:table;}
.text-gengduo a{display:table-cell; vertical-align:middle;}
/*报价*/
.baojia{width:100%;}
.baojia .inner{height:232px;margin:84px auto;}
.baojia .inner .txt{float:left;width:282px;height:190px;background:#f5c71a;margin:20px 0 0 20px;text-align:center;color:#fff;}
.baojia .inner .txt img{padding-top:19px;}
.baojia .inner .txt h3{font-weight:normal;height:36px;line-height:36px;padding-top:9px;font-size:30px;font-family:"汉仪力量黑简"; }
.baojia .inner .txt p{height:22px;line-height:22px;padding-top:3px;}
/*报价 表单*/
.baojia .inner form{float:left;margin:20px 0 0 39px;}
.baojia .inner form ul{width:53px;float:left;}
.baojia .inner form ul li{text-align:center;margin:15px 17px 45px 0;width:36px;}
/*.baojia .inner form ul li input{width:15px;height:15px;border:2px solid #000;background:#f5c71a;display:inline-block;color:#f5c71a;}*/
.baojia .inner form ul li span{display:inline-block;width:15px;height:15px;border:2px solid #000;border-radius:50%;}
.baojia .inner form ul li h6{font-size:18px;color:#0c0c0c;}
.baojia .inner form ul .active{}
.baojia .inner form ul .active span{background:#f5c71a;border:2px solid #f5c71a; }
.baojia .inner form .right{float:left;width:495px;margin-top:10px;}
.baojia .inner form .right label{width:215px;height:47px;line-height:47px;border:1px solid #0c0c0c;border-radius:5px;float:left;margin:0 58px 15px 0;margin-right:25px\9;}
.baojia .inner form .right label img{margin:11px 0 0 8px;float:left;}
.baojia .inner form .right label span{width:1px;height:24px;background:#505050;display:block;margin:13px 0 0 8px;float:left;}
.baojia .inner form .right label input{float:left;width:120px;padding:5px 10px;height:37px;height:35px;line-height:35px;color:#515151;}
.baojia .inner form .right label:nth-child(2){margin-right:0;}
.baojia .inner form .right label:nth-child(4){margin-right:0;}
.baojia .inner form .right label:last-child{}
.baojia .inner form .right label:nth-child(4) input{border-radius:8px 0 0 8px;}
.baojia .inner form .right label .yanzheng{width:75px;height:47px;background:#ecca13;border-radius:0 8px 8px 0;float:left;display:inline;}
.baojia .inner form .right .jisuan{width:100%;width:93%\9;height:43px;line-height:43px;border-radius:8px;background:#ecca13;cursor:pointer;}
.baojia .inner form .right .zixun{width:100%;height:31px;line-height:31px;color:#747474;display:inline-block;text-align:center;}
/*报价 右*/

.baojia .inner .people{float:left;width:230px;margin:30px 0 0 37px;border:1px solid #f5c71a;text-align:center;overflow:hidden;}
.baojia .inner .people marquee{width:100%;height:120px;margin:0;padding:0;display:block;padding-left:10px;overflow:hidden;}
.baojia .inner .people table{width:100%;overflow:hidden;}
.baojia .inner .people .thead{width:100%;height:59px;line-height:59px;background:#f5c71a;color:#fff;position:relative;font-size:16px;}
.baojia .inner .people .thead strong{color:#000;font-size:18px;}
/*
.baojia .inner .people table tbody{}
.baojia .inner .people table tbody tr{color:#535353;height:28px;line-height:28px;font-size:16px;}
.baojia .inner .people table tbody tr td:nth-child(1){width:20%;}
.baojia .inner .people table tbody tr td:nth-child(2){width:40%;}
.baojia .inner .people table tbody tr td:nth-child(3){width:40%;color:#f5c71a;}*/
.baojia .inner .people .people-cont{width:228px;height:122px;border:1px solid #f5c71a;overflow:hidden;position:relative;}
.baojia .inner .people .people-cont ul{position:absolute;left:0;width:100%;}
.baojia .inner .people .people-cont ul li{color:#535353;height:28px;line-height:28px;font-size:16px;}
.baojia .inner .people .people-cont ul li span{height:28px;line-height:28px;display:inline-block;}
.baojia .inner .people .people-cont ul li span:nth-child(1){width:20%;}
.baojia .inner .people .people-cont ul li span:nth-child(2){width:40%;}
.baojia .inner .people .people-cont ul li span:nth-child(3){width:40%;color:#f5c71a;}